# Test

Test is an execution of a function number of times to measure the execution time.

# TestChunk
`TestChunk` is an execution of a test `x` times synchronously in `while loop`.

# TestRunReport
`timeSpentInMs: number`

## timeSpentInMs: number
Time spent to execution of the whole test

## avgTimeSpentPerChunk: number
Average time spent to execution of a single test chunk

## chunkReportArray: TestChunkReport[]

# TestChunkReport
`timeSpentInMs: number`, `iterations: number`
